.footer{
    width:100%;
    background: black;
    color: white;
    padding-bottom: 10px;
}

.footer-content{
    text-align: center;
    padding-top: 50px; 
}

@media (min-width: 1080px) {
    .footer-content {
        display: flex;
        justify-content: space-between;
        padding-left: 300px;
        padding-right: 300px;
    }
}

.footer-content h2{
    color: rgb(136, 136, 136);
}

.no-style{
    padding-left: 0;
    margin-top: 10px;
    list-style-type: none;
    color: rgb(109, 109, 109);
}

.green-timings{
    color: green;
    font-size:20px;
    font-weight: 700;
}

.footer-tm{
    margin-top:50px;
    text-align: center;
    color: rgb(109, 109, 109);
    font-size: 12px;
}